.timeline {
  position: relative;
}
.months {
  display: flex;
  justify-content: center;
}
.line {
  width: 100%;
  border: 1px dashed var(--grayLight);
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  z-index: -1;
}
