.grid {
  display: flex;
  margin-top: 20px;
}
.left,
.right {
  flex: 0.2;
}
.middle {
  flex: 1;
  display: flex;
  gap: 20px;
}

.left {
  min-width: 200px;
}

.item {
  width: 50px;
  flex: 1;
  display: flex;
  justify-content: center;
}
.item2 {
}
